<div ng-if="ProjectScope.project">
  <label for="version">Version</label>
  <input id="version" ng-model="version"/>

  <label for="materialType">MaterialType</label>
  <input id="materialType" disabled="disabled" value="clover"/>

  <label for="file">Material</label>
  <input type="file" id="file" ng-file-select="onFileSelect($files)" >
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
       ng-show="dropSupported">drop files here</div>
  <div ng-file-drop-available="dropSupported=true"
       ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>
<div ng-if="!ProjectScope.project">
  No Project selected :/
</div>